/node_modules
/public/hot
/public/storage
/public/images
/storage/*.key
/storage/framework/*
/storage/logs/laravel.log
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
~/
!/public/images/Person Admin-01.png
/bootstrap/cache
/public/files/*